.landing-page {
    background-image: url(/public/escapelinklogo.png);
    background-size: cover;
    height: 110vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* .buttons {
    background: linear-gradient(to bottom, #667688 5%, #ccccc6 100%);
    border-radius: 10px;
    border: 4px solid #000000;
    cursor: pointer;
    color: black;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 2em;
    margin: 1rem .5rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
} */

.welcome {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}

.room-one {
    background: linear-gradient(to bottom, #667688 5%, #ccccc6 100%);
    border-radius: 10px;
    border: 4px solid #000000;
    cursor: pointer;
    color: black;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 2em;
    margin: 1rem .5rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.room-one:hover  {
    background:linear-gradient(to bottom, rgb(159, 190, 204) 5%, #7185cc 100%);
    box-shadow: inset 20px 20px 40px rgb(29 180 216 / 10%);
}

.coming-soon {
    cursor: not-allowed;
    background: linear-gradient(to bottom, #667688 5%, #ccccc6 100%);
    border-radius: 10px;
    border: 4px solid #000000;
    color: black;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 2em;
    margin: 1rem .5rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}