.victory-page {
  background-image: var(--background);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-one-completion {
  padding: 2em;
  background-color: #c0c4d7;
  opacity: .9;
  border: 4px solid #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem
}
