.room.no-bg {
  background-image: none;
  background-color: black;
}

.room {
  background-image: var(--room-bg);
  background-size: cover;
  width: 100svw;
  height: 100svh;
  display: grid;
  padding: 0 2%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'clock board board board lamp'
    'bike door door desk lamp'
    'plant door door desk radio ';
}

.clock-btn,
.plant-btn,
.door-btn,
.bike-btn,
.board-btn,
.deskComp-btn,
.radio-btn,
.lamp-btn {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.clock-btn:hover,
.plant-btn:hover,
.bike-btn:hover,
.board-btn:hover,
.deskComp-btn:hover,
.radio-btn:hover,
.lamp-btn:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.clock-btn.disabled,
.deskComp-btn.disabled,
.plant-btn.disabled,
.door-btn.disabled,
.bike-btn.disabled,
.board-btn.disabled,
.radio-btn.disabled,
.lamp-btn.disabled {
  filter: invert(50%);
  transform: scale(1);
  pointer-events: none;
}

.clock-btn {
  grid-area: clock;
}

.plant-btn {
  grid-area: plant;
}

.door-btn {
  grid-area: door;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.door {
  max-width: 20em;
}

.bike-btn {
  grid-area: bike;
  display: flex;
  overflow: hidden;
}

.bike {
  width: 50%;
  max-width: 15em;
}

.board-btn {
  overflow: hidden;
  grid-area: board;
}

.board {
  width: 100%;
  max-width: 40em;
}

.deskComp-btn {
  grid-area: desk;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-btn {
  display: flex;
}

.radio {
  margin-bottom: 6rem;
}
.lamp-btn {
  grid-area: lamp;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock,
.radio,
.deskComp,
.plant,
.bike,
.door {
  width: 100%;
}

.lamp {
  width: 150%;
}

.invert-colors {
  background-color: black;
}

.invert-colors img {
  filter: invert(100%);
}

.alpha-centauri {
  color: white;
  margin-bottom: 3rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media screen and (max-width: 1025px) {
  .room {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      'clock board board lamp'
      'bike door door lamp'
      'plant desk desk radio ';
  }
  .door {
    width: 70%;
  }
  .deskComp {
    width: 55%;
  }
  .radio {
    width: 80%;
  }
}

@media screen and (max-height: 585px) {
  .board {
    width: 80%;
  }
  .lamp {
    width: 110%;
  }
  .radio {
    width: 70%
  }
  .door {
    width: 60%;
  }
}

@media screen and (max-height: 480px) {
  .room {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      'clock board board board lamp'
      'bike door door desk radio'
      'plant door door desk radio ';
  }
  .board {
    width: 70%;
  }

  .radio {
    margin-bottom: 0rem;
  }
  .door {
    width: 50%;
  }
}


@media screen and (max-width: 768px) {

  .room {
    padding: 0rem;
  }
  
  .clock,
  .plant,
  .bike {
    width: 90%;
  }

  .desk-comp {
    width: 50%;
  }

}

@media screen and (max-height: 300px) {
  .board {
    margin-top: .5rem;
    width: 60%;
  }
  .lamp {
    width: 85%;
  }
  .radio {
    width: 60%
  }
  .alpha-centauri {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .board,
  .clock,
  .radio,
  .plant,
  .bike {
    width: 100%;
  }
  .door {
    width: 75%;
  }
  .deskComp {
    width: 60%;
  }
  .lamp {
    width: 160%;
  }
}

@media screen and (max-width: 400px) {
  .room {
    grid-template-columns: 0.8fr 1fr 1.2fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      'clock board board'
      'bike door lamp'
      'plant desk radio ';
  }

  .clock,
  .plant,
  .bike,
  .radio {
    width: 70%;
  }

  .board {
    width: 90%;
  }

  .door {
    width: 110%;
  }
  .deskComp {
    width: 90%;
  }
  .lamp {
    width: 120%;
  }
}

@media screen and (max-width: 365px) {
  .room {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4 1fr);
    grid-template-areas:
      'clock board'
      'bike door'
      'plant lamp'
      'desk radio';
  }
  .radio {
    margin-bottom: 3rem;
    width: 60%;
  }
  .door,
  .lamp {
    width: 100%;
  }
}
