.error-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-image: var(--backdrop-img);
  background-size: cover;
  background-position: center; 
  height: 100vh;
  width: 100vw;
 
  
}

.retry {
  background: linear-gradient(to bottom, #88a8cd 5%, #bcc2e7 100%);
  border-radius: 10px;
  border: 4px solid #000000;
  cursor: pointer;
  color: black;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 2em;
  margin-top: 1rem;
  text-decoration: none;
}
